@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
.contenedor{
    max-width: 1360px;
    box-sizing: border-box;
    margin: auto;
}
.cuadricula{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.columna-3{
    grid-column: span 3;
}
.columna-4{
    grid-column: span 4;
}
.columna-6{
    grid-column: span 6;
}
.columna-8{
    grid-column: span 8;
}
.columna-12{
    grid-column: span 12;
}
.padding-20{
    padding: 20px;
}
a{
    text-decoration: none;
}
body{
    user-select: none;
    --color-primario: rgb(26, 26, 26);
    --color-secundario: rgb(215, 40, 47);
    --color-acento: rgb(215, 40, 47);
    --color-texto: rgb(255, 255, 255);
    --texto-primario: 'Montserrat', sans-serif;
    --texto-secundario: 'Oswald', sans-serif;
    --texto-decorativo: 'Parisienne', cursive;
    --sombra:  rgba(0, 0, 0, 0.32) 0px 3px 6px, rgba(0, 0, 0, 0.36) 0px 3px 6px;
    margin: 0;
    padding: 0;
    background: var(--color-primario);
}
nav{
    background: var(--color-primario);
    box-shadow: var(--sombra);
    position: sticky;
    top: 0;
    font-size: 17px;
}
.nav__caja{
    padding: 20px 16px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.logo{
    height: 30px;
}
.menu{
    font-family: var(--texto-primario);
    display: flex;
    gap: 60px;
}
.menu a{
    color: rgb(255, 255, 255);
}
.menu a:hover{
    color: var(--color-acento);
}
.nav__link i{
    display: none;
}
.nav__link.active{
    color: var(--color-acento);
    pointer-events: none;
}
.boton{
    color: var(--color-acento);
    font-family: var(--texto-primario);
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 300px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-acento);
}
.boton:hover{
    background: var(--color-acento);
    color: var(--color-texto);
    transition: 300ms;
}
.portada__box{
    padding: 0;
}
.portada1{
    background-image: url(https://lh3.googleusercontent.com/pw/AJFCJaUaXzy8yXrRTpbTRzg9HxIv39raKeQHoOi-DsPLZquaO-aQbuY_0VMTTf5b9a6i587liTVLwQYoJYw1P-rDkPwTqG_jVb7-CjWx074gXUn83jd9FNlKGpmo70RAjs-NpjHkQ_X91ZSUJoktjchKgitY=w1366-h391-s-no?authuser=0);
}
.portada2{
    background-image: url(https://lh3.googleusercontent.com/pw/AJFCJaUaXzy8yXrRTpbTRzg9HxIv39raKeQHoOi-DsPLZquaO-aQbuY_0VMTTf5b9a6i587liTVLwQYoJYw1P-rDkPwTqG_jVb7-CjWx074gXUn83jd9FNlKGpmo70RAjs-NpjHkQ_X91ZSUJoktjchKgitY=w1366-h391-s-no?authuser=0);
}
.portada3{
    background-image: url(https://lh3.googleusercontent.com/pw/AJFCJaUaXzy8yXrRTpbTRzg9HxIv39raKeQHoOi-DsPLZquaO-aQbuY_0VMTTf5b9a6i587liTVLwQYoJYw1P-rDkPwTqG_jVb7-CjWx074gXUn83jd9FNlKGpmo70RAjs-NpjHkQ_X91ZSUJoktjchKgitY=w1366-h391-s-no?authuser=0);
}
.portada4{
    background-image: url(https://lh3.googleusercontent.com/pw/AJFCJaUaXzy8yXrRTpbTRzg9HxIv39raKeQHoOi-DsPLZquaO-aQbuY_0VMTTf5b9a6i587liTVLwQYoJYw1P-rDkPwTqG_jVb7-CjWx074gXUn83jd9FNlKGpmo70RAjs-NpjHkQ_X91ZSUJoktjchKgitY=w1366-h391-s-no?authuser=0);
}
.portada5{
    background-image: url(https://lh3.googleusercontent.com/pw/AJFCJaUaXzy8yXrRTpbTRzg9HxIv39raKeQHoOi-DsPLZquaO-aQbuY_0VMTTf5b9a6i587liTVLwQYoJYw1P-rDkPwTqG_jVb7-CjWx074gXUn83jd9FNlKGpmo70RAjs-NpjHkQ_X91ZSUJoktjchKgitY=w1366-h391-s-no?authuser=0);
}
.portada{
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 280px;
    justify-content: end;
    background-size: cover;
    background-position: center bottom;
    color: var(--color-texto);
    overflow: hidden;
}
.portada__titulo{
    margin: 0;
    font-size: 83pt;
    letter-spacing: -3px;
    font-weight: 600px;
    font-family: var(--texto-secundario);
}
.portada__slogan{
    margin: 0;
    font-family: var(--texto-primario);
    font-size: 24px;
}

/*Empieza "Inicio" (principal)*/
.bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-texto);
    font-family: var(--texto-primario);
    font-size: 18px;
    padding: 28px;
}

/*Termina "Inicio" (principal)*/

/*Empieza "Reseñas"*/
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo__h3{
    width: 800px;
    padding: 15px;
    font-family: var(--texto-primario);
    font-size: 20px;
    background: var(--color-acento);
    color: var(--color-texto);
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.32);
}
.tarjetas{
    gap: 20px;
}
.tarjetas img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.tarjeta{
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-acento);
    overflow: hidden;
}
.tarjeta__titulo{
    color: var(--color-texto);
    text-align: center;
    font-family: var(--texto-primario);
    font-size: 17px;
}
.tarjeta li{
    color: var(--color-texto);
    font-family: var(--texto-primario);
    font-size: 17px;
    margin: 10px;
    padding: 3px;
    list-style: none;
}
.tarjeta p{
    margin: 0;
    padding: 15px;
    font-family: var(--texto-primario);
    font-size: 17px;
    color: var(--color-texto);
}
/*Termina "Reseña"*/

/*Empieza "Reserva"*/
.habitaciones{
    margin: 20px;
    background: var(--color-secundario);
    gap: 20px;
    border-radius: 16px;
    overflow: hidden;
}
.habitacion__img img{
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-acento);
    overflow: hidden;
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
.habitacion__contenido{
    font-family: var(--texto-primario);
    font-size: 17px;
    
    padding: 20px;
}
.habitacion__precio{
    font-family: var(--texto-primario);
    font-size: 17px;
    
    list-style: none;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.disponibilidad a{
    color: var(--color-acento);
    background: var(--color-primario);
    border-radius: 300px;
    padding: 15px;
}
.disponibilidad a:hover{
    color: var(--color-texto);
    background: var(--color-acento);
}
/*Termina "Reserva"*/

footer{
    background: var(--color-primario);
    font-family: var(--texto-primario);
    font-size: 15px;
    border-top: 8px var(--color-acento) solid;
}
.datos{
    padding: 20px;
}
.contacto{
    color: var(--color-texto);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a{
    color: var(--color-texto);
}
footer a:hover{
    color: var(--color-acento);
}
.empresa{
    color: var(--color-texto);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empresa img{
    width: 90px;
}
.reclamaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: end;
}
 
@media only screen and (max-width: 800px){
    .columna-4, .columna-6, .columna-8{
        grid-column: span 12;
    }
    .columna-3{
        grid-column: span 6;
    }
    .nav__link span{
        display: none;
    }
    .nav__link i{
        display: flex;
        font-size: 28px;
    }
    .menu{
        gap: 20px;
    }
    .boton{
        padding: 8px 15px;
    }
    .portada__titulo{
        font-size: 60pt;
    }
    .titulo__h3{
        width: 250px;
    }
    .habitaciones{
        height: 900px;
    }
    .datos, .empresa{
        padding: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.bienvenida__img{
    width: 660px;
}